<div class="logo-grid">
  <div class="logo-item">
    <img src="assets/images/midstay-no-text.png" alt="Midstay logo">
    <div class="label"><strong>Midstay</strong><br><span>Co-Founder & CTO</span></div>
  </div>
  <div class="logo-item">
    <img src="assets/images/legelisten-no-text.png" alt="Legelisten logo">
    <div class="label"><strong>Legelisten</strong><br><span>Freelance Consultant</span></div>
  </div>
  <div class="logo-item">
    <img src="assets/images/attensi-no-text-blue.jpg" alt="Attensi logo">
    <div class="label"><strong>Attensi</strong><br><span>Backend Developer</span></div>
  </div>
  <div class="logo-item">
    <img src="assets/images/le-wagon-no-text.jpg" alt="Le Wagon logo">
    <div class="label"><strong>Le Wagon</strong><br><span>Teacher Assistant</span></div>
  </div>
  <div class="logo-item">
    <img src="assets/images/ntnu-no-text.png" alt="NTNU logo">
    <div class="label"><strong>NTNU</strong><br><span>PhD/Researcher</span></div>
  </div>
</div>