---
--- 

@import 'about-me';
@import 'experiences';
@import 'services';
@import 'testimonials';
@import 'use-cases';

.list-header {
  margin-bottom: 0.25rem;
}

.section-divider {
  margin-bottom: 1.25rem;
}

/* Services Section Styles */
section {
  background-color: white;
  margin-bottom: 4rem;
}

.layout--home, .layout--page.services {
  .cta-button {
    display: block;
    width: max-content;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.2s ease;
  }

  .cta-button:hover {
    background-color: #333;
  }

  .services {
    margin-top: 4rem;
  }
}

.layout--page.services {
  .cta-button {
    margin: 0;
  }
}